*{
    margin:0;
    overflow:hidden;
}

.game{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#719eda;
    
}
    .game{
        height:100vh;
        width:100vw;
        display:flex;
    }
        .navigateButtons{
            position:absolute;
            top:0;
            left:0;
            height:20vh;
            width:100vw;
            display:flex;
            justify-content:center;
            align-items:center;
        }
            .navigateButtons button{
                height:10vh;
                width:50vw;
                font-size:4vh;
                background-color:#3a250d;
                color:#7e6549;
                border: 1px solid #3a250d;
            }

    .upgrades{
        background-image:url("images/catbutt.png");
        background-size:contain;
        background-repeat:no-repeat;
        height:40vh;
        width:100vw;
    }

        .shopMenu{
            visibility:hidden;
            display:flex;
            flex-direction:column;
            align-items:center;
            height:40vh;
            width:100vw;
            z-index:6;
            gap:3vh;
        }
            .shopMenu button{
                height:10vh;
                width:40vw;
                border-radius:10%;
                font-size:2vh;
                background-color:#3a250d;
                color:#7e6549;
                border: 1px solid #3a250d;
            }

        .catchCatsMenu{
            display:flex;
            flex-direction:column-reverse;
            align-items:center;
            position:fixed;
            bottom:0;
            left:0;
            display:flex;
            height:40vh;
            width:100vw;
            line-height:10vh;
            z-index:5;
            color:#0b2649;
            
            font-size:2rem;
        }
        .catchCatsMenu button{
            height:10vh;
            width:10vh;
            border: 5px solid black;
            border-radius:50%;
            background-color:#4d1414;
            color:#bf7084;
        }
    




/*.board{
        display:flex;
        flex-direction:column;
        height:100vh;
        width:100vw;
        text-align:center;
        align-items:center;
        background-color:#bf7070;
        border:2px solid #490b0b;
    }
        .board button{
            width:150px;
            background-color:#bf7070;
        }
    .catdisplay{
        position:fixed;
        bottom: 0;
        left: 0;
        height:20vh;
        width:100vw;
        background-color:#490b0b;
        color:#bf7070;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
        .catdisplay img{
            position:absolute;
            height:10vh;
            width:auto;
            z-index:-1;
        }
        .catdisplay p{
            margin-bottom:10px;
            z-index:1;
        }
        .catdisplay button{
            border-radius:50%;
            height:10vh;
            width:10vh;
            z-index:1;
        }
        
    .upgrades{
        position:absolute;
        top:0;
        left:0;
        display:flex;
        flex-direction:column-reverse;
        background-image:url("images/catbutt.png");
        background-repeat:no-repeat;
        background-position:fixed;
        background-position-y:12vh;
        float:right;
        columns:2;
       
        height:80vh;
        width:100vw;
    }
        .upgrades button{
            background-color:#490b0b;
            color:#bf7070;
            height:30vw;
            width:30vw;
            border-radius:5%;
            z-index:5;
        }
        
        .upgrades img{
            position:absolute;
            bottom:15vh;
            height:50vh;
            width:auto;
            z-index:1;
        } */